a{
  text-decoration: none;
}
p{
  padding: 0.5vh 0vh 0.5vh 0vh ;
  margin: 0;
  font-size: 8pt;
}
input{
  font-size: 6pt;
}
textarea{
  font-size: 6pt;
  margin-top:0.3vh;
}
input:focus {outline: none;}
textarea:focus {outline: none;}
#wrong-password{
  color: red;
  visibility: hidden;
}

